body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
}

.main-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  color: black;
  font-weight: 600;
  text-align: left;
  font-size: 1.75rem;
  margin-left: 1rem;
}

.header-layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248 250 252);
  border-bottom: 2px solid black;
}

.header-layout > button {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  font-size: 16px;
  border-radius: 5px;
  background: rgb(226 232 240);
  color: black;
  cursor: pointer;
}

.header-layout > button:hover {
  background: black;
  color: white;
}

.header > p {
  margin-left: 15px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.header-logo {
  max-width: 50px;
}

.inputs-menu {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.options-menu {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1fr;
  gap: 10px;
  background-color: white;
  border: 1px solid rgb(203, 213, 225);
  border-radius: 6px;
  justify-content: center;
  margin-top: 1%;
  padding: 1.75rem 2.5rem;
  padding-bottom: 2rem;
}

.options-menu-compare {
  display: grid;
  align-self: center;
  width: 60%;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  gap: 10px;
  background-color: white;
  border: 1px solid rgb(203, 213, 225);
  border-radius: 6px;
  justify-content: center;
  margin-top: 1%;
  padding: 1.75rem 2.5rem;
  padding-bottom: 2rem;
}

.menu-selector {
  display: flex;
  text-align: center;
  margin-top: 1%;
  width: 35%;
}

.menu-selector > h3 {
  font-size: 1.15rem;
}

.unselected-menu-item, .selected-menu-item {
  border: 1px solid rgb(203 213 225);
  padding: 1.15rem 0px;
  cursor: pointer;
  font-size: 1rem;
  width: 40%;
  font-weight: 400;
}

.selected-menu-item {
  background-color: rgb(71 85 105);
  color: white;
  font-weight: 600;
}

.selector-item {
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px; 
}

.selector-item > label {
  margin-bottom: 2.5%;
  color: gray;
  font-size: 0.85rem;
}

.selector-item > select {
  font-size: 1rem;
  border: none;
  margin-top: 0.5rem;
}

.month-year-input {
  display: flex;
  justify-content: space-between; 
}

.month-year-input > .month-input {
  width: 60%;
}

.month-year-input > .year-input {
  width: 30%;
}

.add-series-btn {
  display: flex;
  width: 100%;
  background-color: rgb(248 250 252);
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid gray;
  padding: 0.75rem 0.25rem;
}

.add-series-btn:hover {
  border: 2px solid black;
}

.plus-icon {
  margin-left: 1rem;
  color: rgb(71 85 105);
  cursor: pointer;
  align-self: center;

}

.add-series-btn > span {
  margin-left: 10px;
}

.selector-item > button {
  display: flex;
  align-items: center;
}

.selected-pill {
  background-color: rgb(203 213 225);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.75rem;
  padding-right: 1.1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 0.85rem;
}

.modal {
  background-color: white;
  width: 70vw;
  z-index: 1;
  position: fixed;
  border: 1px solid rgb(203 213 225);
  top: 15%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px 0;
}

.modal-header {
  font-size: 1em;
  font-weight: 500;
  color: rgb(71 85 105);
}

.x-icon {
  margin-left: auto;
  margin-top: 1%;
  cursor: pointer;
  color: rgb(71 85 105);
}

.modal-content {
  flex: 1;
  max-height: 40vh;
  overflow-y: auto;
  padding: 1% 2%;
  border-bottom: 2px solid gray;
}

.modal-footer {
  min-height: 12%;
  background: rgb(248 250 252);
  border-top: 1px solid rgb(203 213 225);
  border-bottom: 1px solid rgb(203 213 225);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
}

.modal-footer-elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-selected-pills {
  display: flex;
  flex-wrap: wrap;
}

.modal-category-table {
  display: flex;
  /* margin-top: 0%; */
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 2px solid gray;
  padding-bottom: 0;
  margin-bottom: 0;
}

.modal-category-table > p {
  margin-bottom: 1%;
  color: rgb(71 85 105);
}

.modal-card {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: none;
  
}

.modal-card-checkbox {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  margin-bottom: 0;
}

.modal-card-checkbox > p {
  margin-top: 0;
  margin-bottom: 0;
}

.modal-card > p {
  margin-top: 0.75rem;
  margin-bottom: 0;
}


.level0-title {
  margin-left: 10px;
}

.level1-title {
  margin-left: 20px;
}

.level2-title {
  margin-left: 35px;
}

.level3-title {
  margin-left: 50px;
}

.level0-weight, .level0-title {
  font-size: 1rem;
  font-weight: 600;
}

.level1-weight, .level1-title {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(51 65 85);
}

.level2-weight, .level2-title {
  font-size: 0.85rem;
  font-weight: 400;
  color: rgb(71 85 105);
}

.level3-weight, .level3-title {
  font-size: 0.75rem;
  font-weight: 300;
}

.add-series-modal-btn {
  background-color: rgb(203 213 225);
  color: rgb(71 85 105);;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

.add-series-modal-btn:hover{
  background-color: rgb(71 85 105);
  color: white;
}

.selected-series-pill {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60px;
    background-color: rgb(203 213 225);
    font-size: 12px;
    text-align: center;
    align-self: center;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
}


.generate-btn {
  background-color: rgb(71, 85, 105);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: auto; /* Vertically center the button */
  margin-bottom: auto; /* Vertically center the button */
  padding: 1.25rem 0rem;
}

.generate-btn:hover {
  background-color: rgb(30 41 59);
}

.error-message {
  color: red;
  font-size: 0.75rem;
  margin: 0;
  margin-top: 0.5rem;
}

.chart-container {
  /* width: 90%; */
  height: 800px; /* Or whatever height you want */
  border: 1px solid black;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-multi-series-line-chart {
  /* border: 1px solid red; */
}

/* .chart-component {
  width: 100%;
} */

.item1 { grid-area: chart; }
.item2 { grid-area: y-axis; }
.item3 { grid-area: x-start; }
.item4 { grid-area: x-end; }
.item5 { grid-area: legend; }
.item6 { grid-area: type; }

.selection-menu { grid-area: menu;}

.selection-menu {
  margin-right: 0.5rem;
}

.top-row {
  display: flex;
  justify-content: space-between;
}

.option-btn {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  margin-right: 0.25rem;
  font-size: 12px;
  border-radius: 5px;
  background: rgb(226 232 240);
  color: black;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

.option-btn:hover {
  background: black;
  color: white;
}

.menu-options {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.chart-type-selection {
  margin-bottom: 30px;
}

.generate-chart-btn {
  font-size: 1rem;
  padding: 1rem 2rem;
  /* margin-right: 1rem; */
  font-size: 16px;
  border-radius: 5px;
  background: rgb(226 232 240);
  color: black;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid black;
}

.generate-chart-btn:hover {
  background: black;
  color: white;
}

.selection-view {
  display: grid;
  height: 92vh;
  width: 100%;
  grid-template-areas:
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart'
    'menu menu chart chart chart chart chart chart chart chart';
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px; /* Optional: Adjust the gap between grid items */
  /* background-color: #2196F3; */
  padding: 10px; /* Optional: Adjust the padding */
  box-sizing: border-box;
  align-self: center;
}

.series-view {
  display: grid;
  height: 92vh;
  width: 100%;
  grid-template-areas:
    'y-axis type type type type type type legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis x-start x-start x-start x-end x-end x-end legend legend legend'
    'y-axis x-start x-start x-start x-end x-end x-end legend legend legend';
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px; /* Optional: Adjust the gap between grid items */
  /* background-color: #2196F3; */
  padding: 10px; /* Optional: Adjust the padding */
  box-sizing: border-box;
  align-self: center;
}

.compare-view {
  display: grid;
  height: 92vh;
  width: 100%;
  grid-template-areas:
    'type type type type type type type type type type'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'x-start x-start x-start x-start x-end x-end x-end x-end x-end x-end'
    'x-start x-start x-start x-start x-end x-end x-end x-end x-end x-end';
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  gap: 10px; /* Optional: Adjust the gap between grid items */
  /* background-color: #2196F3; */
  padding: 10px; /* Optional: Adjust the padding */
  box-sizing: border-box;
  align-self: center;
}

.no-options-view {
  display: grid;
  height: 92vh;
  width: 100%;
  grid-template-areas:
    'chart chart'
    'chart chart';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  /* background-color: #2196F3; */
  padding: 10px; /* Optional: Adjust the padding */
  box-sizing: border-box;
  align-self: center;
}

.no-options-view > .item1 {
    position: relative;
    grid-area: chart;
}

.item1 > button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.landing-view-grid {
  display: grid;
  height: 92vh;
  width: 100%;
  grid-template-areas:
    'type type type type type type type type type type'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart'
    'chart chart chart chart chart chart chart chart chart chart';
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  gap: 10px; /* Optional: Adjust the gap between grid items */
  /* background-color: #2196F3; */
  padding: 10px; /* Optional: Adjust the padding */
  box-sizing: border-box;
  align-self: center;
}


/* .grid-container3 {
  display: grid;
  height: 92vh;
  width: 100%;
  grid-template-areas:
    'y-axis type type type type type type legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis chart chart chart chart chart chart legend legend legend'
    'y-axis x-start x-start x-start x-end x-end x-end legend legend legend'
    'y-axis x-start x-start x-start x-end x-end x-end legend legend legend';
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  gap: 10px; 
  background-color: #2196F3;
  padding: 10px; 
  box-sizing: border-box;
  align-self: center;
} */

.series-view > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.item2 {
  margin-top: 5.5vh;
}

.item3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item3 > label {
  font-size: 16px;
}

.item4 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}

.item4 > label {
  font-size: 16px;
}

.item5 {
  margin-top: 5.5vh;
}

.item5 > button {
  display: flex;
  align-items: center;
}

.series-select-pending {
  border: 2px solid red;
}

.series-select-pending:hover {
  border: 2px solid black;
}

.item6 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item6 > p {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.item6 > div {
  flex-grow: 1;
}

.blank-chart {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  border-radius: 5px;

}

.blank-chart > h2 {
  color: gray;
  font-size: 4rem;
  font-style: italic;
  margin-top: auto;
  margin-bottom: auto;
}

.wfall-detail-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.category-contain {
  /* border-bottom: 2px solid black; */
}

.wfall-detail-subtitle {
  font-size: 1.15rem;
  font-style: italic;
  margin-top: 1rem;
}

.category-display-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.category-display-row {
  display: flex;
  justify-content: space-between;
}


.category-display-row > .level1-title {
  margin-left: 0px;
}

.category-display-row > .level2-title {
  margin-left: 10px;
  font-weight: 600;
  font-size: 0.9rem;
}

.category-display-row > .level3-title {
  margin-left: 25px;
}

.display-explain {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-style: italic;
}